@charset "UTF-8";

// set up variables

$text-main: "Montserrat", sans-serif;

$fw-regular: 400;
$fw-bold: 700;

$fs-base: 16px;
$fs-header: 32px;

$px-S: 8px;
$px-M: 16px;
$px-L: 24px;
$px-XL: 32px;
$px-XXL: 40px;

$color-main: #000000;
$color-bg: #ffffff;
$color-accent: #a5603f;
$color-accent-light: #faf6f1;

$media-breakpoint-sm: 576px;
$media-breakpoint-md: 768px;
$media-breakpoint-lg: 992px;
$media-breakpoint-xl: 1200px;

#es-rc #es-rc-content {
  font-family: $text-main;
  font-size: $fs-base;
  font-weight: $fw-regular;
  line-height: 1.2;
  color: $color-main;
  background-color: $color-bg;
  max-width: 990px;
  margin: auto;
  container: es-rc-main / inline-size;

  ::selection {
    background-color: $color-accent;
    color: $color-accent-light;
  }

  // minimal css reset

  * {
    box-sizing: border-box;
  }

  p {
    margin: 0;
  }

  img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  button {
    display: block;
  }

  .es-section-title {
    font-family: $text-main;
    font-size: $fs-header;
    font-weight: $fw-bold;
    text-align: center;
    margin-block: $px-M;
  }
  // accessibility improvement for animations
  @media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

  .es-features {
    &__list {
      display: flex;
      flex-direction: column;
      gap: $px-L;
      &-item {
        display: flex;
        align-items: center;
        gap: $px-M;
      }
      &__checkmark {
        width: 2rem;
        height: 2rem;
        margin: unset;
      }
    }
  }
}
