#es-rc #es-rc-content {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  background-color: #ffffff;
  max-width: 990px;
  margin: auto;
  container: es-rc-main/inline-size;
}
#es-rc #es-rc-content ::-moz-selection {
  background-color: #a5603f;
  color: #faf6f1;
}
#es-rc #es-rc-content ::selection {
  background-color: #a5603f;
  color: #faf6f1;
}
#es-rc #es-rc-content * {
  box-sizing: border-box;
}
#es-rc #es-rc-content p {
  margin: 0;
}
#es-rc #es-rc-content img {
  width: 100%;
  display: block;
  margin: 0 auto;
}
#es-rc #es-rc-content button {
  display: block;
}
#es-rc #es-rc-content .es-section {
  padding: 24px;
}
@container es-rc-main (min-width: $media-breakpoint-md) {
  #es-rc #es-rc-content .es-section {
    padding: 32px;
  }
}
#es-rc #es-rc-content .es-section-title {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  margin-block: 16px;
  text-transform: uppercase;
}
#es-rc #es-rc-content .es-section-title--span {
  font-weight: 700;
}
@container es-rc-main (min-width: $media-breakpoint-md) {
  #es-rc #es-rc-content .es-section-title {
    font-size: 40px;
  }
}
#es-rc #es-rc-content .es-desktop {
  display: none;
}
@container es-rc-main (min-width: 660px) {
  #es-rc #es-rc-content .es-desktop {
    display: block;
  }
}
#es-rc #es-rc-content .es-mobile {
  display: block;
}
@container es-rc-main (min-width: 660px) {
  #es-rc #es-rc-content .es-mobile {
    display: none;
  }
}
@media (prefers-reduced-motion: reduce) {
  #es-rc #es-rc-content * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
#es-rc #es-rc-content .es-kv__text-wrapper {
  padding: 24px;
  text-align: center;
  text-wrap: balance;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  height: 100%;
}
#es-rc #es-rc-content .es-kv__logo {
  max-width: 200px;
}
#es-rc #es-rc-content .es-kv__text {
  text-transform: uppercase;
  font-weight: 700;
}
#es-rc #es-rc-content .es-kv__text--headline {
  font-size: 32px;
}
#es-rc #es-rc-content .es-kv__text--slogan {
  margin-top: 16px;
  font-size: 20px;
}
@container es-rc-main (min-width: 576px) {
  #es-rc #es-rc-content .es-kv {
    position: relative;
  }
  #es-rc #es-rc-content .es-kv__logo {
    width: 50%;
    margin: unset;
  }
  #es-rc #es-rc-content .es-kv__text-wrapper {
    text-align: left;
    align-items: flex-start;
    width: 40%;
    position: absolute;
    top: 0;
    left: 0;
  }
  #es-rc #es-rc-content .es-kv__text--headline {
    font-size: 16px;
  }
  #es-rc #es-rc-content .es-kv__text--slogan {
    font-size: 10px;
  }
}
@container es-rc-main (min-width: 660px) {
  #es-rc #es-rc-content .es-kv__text--headline {
    font-size: 20px;
  }
  #es-rc #es-rc-content .es-kv__text--slogan {
    font-size: 12px;
  }
}
@container es-rc-main (min-width: 768px) {
  #es-rc #es-rc-content .es-kv__logo {
    width: 55%;
  }
  #es-rc #es-rc-content .es-kv__text--headline {
    font-size: 24px;
  }
  #es-rc #es-rc-content .es-kv__text--slogan {
    font-size: 14px;
  }
}
@container es-rc-main (min-width: 880px) {
  #es-rc #es-rc-content .es-kv__logo {
    width: 66%;
  }
  #es-rc #es-rc-content .es-kv__text--headline {
    font-size: 28px;
  }
  #es-rc #es-rc-content .es-kv__text--slogan {
    font-size: 16px;
  }
}
@container es-rc-main (min-width: 980px) {
  #es-rc #es-rc-content .es-kv__logo {
    width: 76%;
  }
}
#es-rc #es-rc-content .es-features__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
#es-rc #es-rc-content .es-features__list-item {
  display: flex;
  align-items: center;
  gap: 16px;
}
#es-rc #es-rc-content .es-features__list__checkmark {
  width: 22px;
  height: 22px;
  margin: unset;
}
@container es-rc-main (min-width: 660px) {
  #es-rc #es-rc-content .es-features {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  #es-rc #es-rc-content .es-features__img {
    width: 50%;
    height: auto;
    aspect-ratio: 1/1;
    margin: unset;
  }
  #es-rc #es-rc-content .es-features__right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  #es-rc #es-rc-content .es-features__title {
    text-align: left;
    font-size: 24px;
  }
  #es-rc #es-rc-content .es-features__list {
    font-size: 18px;
  }
}
@container es-rc-main (min-width: 768px) {
  #es-rc #es-rc-content .es-features {
    gap: 32px;
  }
  #es-rc #es-rc-content .es-features__title {
    font-size: 32px;
  }
  #es-rc #es-rc-content .es-features__list {
    font-size: 24px;
  }
}
@container es-rc-main (min-width: 880px) {
  #es-rc #es-rc-content .es-features__title {
    font-size: 34px;
  }
  #es-rc #es-rc-content .es-features__list {
    font-size: 25.5px;
  }
}
#es-rc #es-rc-content .es-shades {
  color: #3d1e1a;
  text-align: center;
  font-weight: 700;
  background: linear-gradient(180deg, rgb(61, 30, 26) 0%, rgb(146, 96, 70) 25%, rgb(181, 138, 117) 50%, rgb(213, 178, 161) 75%, rgb(245, 219, 207) 100%);
}
#es-rc #es-rc-content .es-shades__text-mobile-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}
#es-rc #es-rc-content .es-shades__text {
  font-size: 20px;
  text-transform: uppercase;
}
#es-rc #es-rc-content .es-shades__text--span {
  font-size: 16px;
  display: block;
  text-transform: none;
}
@container es-rc-main (min-width: 660px) {
  #es-rc #es-rc-content .es-shades {
    padding: 0;
    position: relative;
    color: #ffffff;
    background: unset;
  }
  #es-rc #es-rc-content .es-shades__text {
    position: absolute;
    transform: translate(50%, -50%);
    font-size: 14px;
  }
  #es-rc #es-rc-content .es-shades__text-mobile-wrapper {
    margin: 0;
  }
  #es-rc #es-rc-content .es-shades__text--span {
    font-size: 12px;
  }
  #es-rc #es-rc-content .es-shades__text--1 {
    top: 10%;
    left: -8%;
    width: 16.6666666667%;
  }
  #es-rc #es-rc-content .es-shades__text--2 {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 33.3333333333%;
  }
  #es-rc #es-rc-content .es-shades__text--3 {
    bottom: -3%;
    right: 12.5%;
    width: 25%;
  }
}
@container es-rc-main (min-width: 880px) {
  #es-rc #es-rc-content .es-shades__text {
    font-size: 20px;
  }
  #es-rc #es-rc-content .es-shades__text--span {
    font-size: 16px;
  }
}/*# sourceMappingURL=styles.css.map */