@charset "UTF-8";

// set up variables

$text-main: "Montserrat", sans-serif;

$fw-regular: 400;
$fw-bold: 700;

$fs-base: 16px;
$fs-base-md: 20px;
$fs-header: 32px;
$fs-header-md: 40px;

$px-S: 8px;
$px-M: 16px;
$px-L: 24px;
$px-XL: 32px;
$px-XXL: 40px;

$color-main: #000000;
$color-bg: #ffffff;
$color-accent: #a5603f;
$color-accent-light: #faf6f1;

$media-breakpoint-sm: 576px;
$media-breakpoint-md: 768px;
$media-breakpoint-lg: 992px;
$media-breakpoint-xl: 1200px;

#es-rc #es-rc-content {
  font-family: $text-main;
  font-size: $fs-base;
  font-weight: $fw-regular;
  line-height: 1.2;
  color: $color-main;
  background-color: $color-bg;
  max-width: 990px;
  margin: auto;
  container: es-rc-main / inline-size;

  ::selection {
    background-color: $color-accent;
    color: $color-accent-light;
  }

  // minimal css reset

  * {
    box-sizing: border-box;
  }

  p {
    margin: 0;
  }

  img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  button {
    display: block;
  }

  .es-section {
    padding: $px-L;
    @container es-rc-main (min-width: $media-breakpoint-md) {
      padding: $px-XL;
    }
  }
  .es-section-title {
    font-family: $text-main;
    font-size: $fs-header;
    font-weight: $fw-regular;
    text-align: center;
    margin-block: $px-M;
    text-transform: uppercase;
    &--span {
      font-weight: $fw-bold;
    }
    @container es-rc-main (min-width: $media-breakpoint-md) {
      font-size: $fs-header-md;
    }
  }

  .es-desktop {
    display: none;
    @container es-rc-main (min-width: 660px) {
      display: block;
    }
  }
  .es-mobile {
    display: block;
    @container es-rc-main (min-width: 660px) {
      display: none;
    }
  }
  // accessibility improvement for animations
  @media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

  .es-kv {
    &__text-wrapper {
      padding: $px-L;
      text-align: center;
      text-wrap: balance;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: $px-L;
      height: 100%;
    }
    &__logo {
      max-width: 200px;
    }
    &__text {
      text-transform: uppercase;
      font-weight: $fw-bold;
      &--headline {
        font-size: $fs-header;
      }
      &--slogan {
        margin-top: $px-M;
        font-size: $fs-base-md;
      }
    }
    @container es-rc-main (min-width: 576px) {
      position: relative;

      &__logo {
        width: 50%;
        margin: unset;
      }
      &__text-wrapper {
        text-align: left;
        align-items: flex-start;
        width: 40%;
        position: absolute;
        top: 0;
        left: 0;
      }
      &__text {
        &--headline {
          font-size: 16px;
        }
        &--slogan {
          font-size: 10px;
        }
      }
    }
    @container es-rc-main (min-width: 660px) {
      &__text {
        &--headline {
          font-size: 20px;
        }
        &--slogan {
          font-size: 12px;
        }
      }
    }
    @container es-rc-main (min-width: 768px) {
      &__logo {
        width: 55%;
      }
      &__text {
        &--headline {
          font-size: 24px;
        }
        &--slogan {
          font-size: 14px;
        }
      }
    }
    @container es-rc-main (min-width: 880px) {
      &__logo {
        width: 66%;
      }
      &__text {
        &--headline {
          font-size: 28px;
        }
        &--slogan {
          font-size: 16px;
        }
      }
    }
    @container es-rc-main (min-width: 980px) {
      &__logo {
        width: 76%;
      }
    }
  }

  .es-features {
    &__list {
      display: flex;
      flex-direction: column;
      gap: $px-L;
      &-item {
        display: flex;
        align-items: center;
        gap: $px-M;
      }
      &__checkmark {
        width: 22px;
        height: 22px;
        margin: unset;
      }
    }
    @container es-rc-main (min-width: 660px) {
      display: flex;
      flex-direction: row;
      gap: $px-L;
      &__img {
        width: 50%;
        height: auto;
        aspect-ratio: 1/1;
        margin: unset;
      }
      &__right {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }
      &__title {
        text-align: left;
        font-size: 24px;
      }
      &__list {
        font-size: 18px;
      }
    }
    @container es-rc-main (min-width: 768px) {
      gap: $px-XL;
      &__title {
        font-size: 32px;
      }
      &__list {
        font-size: 24px;
      }
    }
    @container es-rc-main (min-width: 880px) {
      &__title {
        font-size: 34px;
      }
      &__list {
        font-size: 25.5px;
      }
    }
  }

  .es-shades {
    color: #3d1e1a;
    text-align: center;
    font-weight: $fw-bold;
    background: linear-gradient(
      180deg,
      rgba(61, 30, 26, 1) 0%,
      rgba(146, 96, 70, 1) 25%,
      rgba(181, 138, 117, 1) 50%,
      rgba(213, 178, 161, 1) 75%,
      rgba(245, 219, 207, 1) 100%
    );

    &__text-mobile-wrapper {
      display: flex;
      flex-direction: column;
      gap: $px-M;
      margin-top: $px-M;
    }
    &__text {
      font-size: 20px;
      text-transform: uppercase;
      &--span {
        font-size: 16px;
        display: block;
        text-transform: none;
      }
    }
    @container es-rc-main (min-width: 660px) {
      padding: 0;
      position: relative;
      color: $color-bg;
      background: unset;
      &__text {
        position: absolute;
        transform: translate(50%, -50%);
        font-size: 14px;
        &-mobile-wrapper {
          margin: 0;
        }
        &--span {
          font-size: 12px;
        }
        &--1 {
          top: 10%;
          left: -8%;
          width: calc(1 / 6 * 100%);
        }
        &--2 {
          top: 50%;
          right: 50%;
          transform: translate(50%, -50%);
          width: calc(1 / 3 * 100%);
        }
        &--3 {
          bottom: -3%;
          right: 12.5%;
          width: calc(1 / 4 * 100%);
        }
      }
    }
    @container es-rc-main (min-width: 880px) {
      &__text {
        font-size: 20px;
        &--span {
          font-size: 16px;
        }
      }
    }
  }
}
